{% extends 'main/base.html' %}
{% block title %}ابدأ الآن{% endblock %}
{% block content %}
<div>
  <h2>المقابلة الافتراضية AI</h2>
  <p>الذكاء الاصطناعي يحاكي مقابلات العمل الواقعية من خلال طرح أسئلة احترافية مبنية على المسمى الوظيفي الذي تختاره. في نهاية المقابلة، ستحصل على تحليل شامل لأدائك يتضمن نقاط قوتك، الجوانب التي تحتاج تطويرها، وتوصيات لتحسين مهاراتك في المقابلات.</p>
</div>

<div>
  <form method="post">{% csrf_token %}
    <div>
      <label>المسمى الوظيفي</label>
      <div>
        <input name="job_title" placeholder="اكتب المسمى الوظيفي المراد …">
      </div>
    </div>
    <div>
      <button>ابدأ الآن</button>
    </div>
  </form>
</div>
{% endblock %}
