{% extends "main/base.html" %}
{% load static %}
{% block title %}المقابلة الافتراضية AI{% endblock %}
{% block background %}bg-gradient-to-t from-transparent to-[#8ccfbb]/50{% endblock %}
{% block ai_interview_nav %} font-semibold {% endblock %}
{% block content %}
<div class="min-h-[calc(100vh-73px)] flex flex-col items-center justify-center content-center h-full">
  <div class="bg-white/80 rounded-2xl shadow p-8 w-full max-w-3xl text-center glass-card">
    <!-- Title -->
    <h2 class="text-2xl font-bold text-center mb-4">المقابلة الافتراضية AI</h2>
    
    <!-- Description -->
    <p class="text-center text-gray-800 mb-5 leading-relaxed">
      الذكاء الاصطناعي يحاكي مقابلات العمل الواقعية من خلال طرح أسئلة احترافية 
      مبنية على <b>المسمى الوظيفي</b> الذي تختاره.  
      في نهاية المقابلة، ستحصل على تحليل شامل لأدائك يتضمن <b>نقاط قوتك</b>، 
      <b>الجوانب التي تحتاج تطويرها</b>، وتوصيات لتحسين مهاراتك في المقابلات.
    </p>

    <!-- Attempts (if logged in) -->
    {% if user.is_authenticated %}
      {% if remaining is not None %}
        <div class="mb-2 text-sm text-gray-700">
          <p class="text-gray-800 mb-2 text-center text-sm">محاولاتك المتبقية: <b>{{ remaining }}</b></p>
        </div>
      {% endif %}
    {% endif %}

    <!-- Form -->
    <form method="post" class="space-y-5">{% csrf_token %}
      <div>
        <label class="block text-sm font-semibold text-[#002f22] mb-2 text-right">المسمى الوظيفي</label>
        <input name="job_title" 
               class="w-full border border-gray-300 rounded-lg p-3 bg-white" 
               placeholder="مثال: مطور برمجيات">
      </div>

      <div class="flex justify-center">
        <button class="px-6 py-2 rounded-lg bg-[#002f22] text-white hover:opacity-90 transition">ابدأ الآن</button>
      </div>
    </form>

  </div>
    <div class="justify-items-center mt-10">
      <img src="{% static 'images/bot-06.svg' %}" class="h-64" alt="Bot Greeting" />
    </div>
</div>
{% endblock %}
