{% extends "main/base.html" %}

{% block content %}
<h1>جميع رسائل التواصل</h1>

<ul>
    {% for msg in messages_list %}
    <li>
        <strong>الاسم:</strong> {{ msg.name }} <br>
        <strong>البريد الإلكتروني:</strong> {{ msg.email }} <br>
        <strong>الرسالة:</strong> {{ msg.message }} <br>
        <strong>تاريخ الإرسال:</strong> {{ msg.created_at }}
         <form action="{% url 'contact:reply_message' msg.id %}" method="post">
            {% csrf_token %}
            <textarea name="reply_text" rows="3" cols="50" placeholder="الرد على المستخدم.."></textarea><br>
            <input type="submit" value="رد">
        </form>
        <hr>
    </li>
    {% empty %}
    <li>لا توجد رسائل بعد</li>
    {% endfor %}
</ul>
{% endblock %}
